<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8"/>
<title>Objetos 2</title>
<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">UNLa</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/index">Inicio <span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>


<div class="card bg-light">
	<div class="card-header bg-dark text-white"></div>
	<div class="card-body">

<form action="#" th:action="@{/perfiles/}" th:object="${perfil}" method="post">
	<p> Rol del perfil: <input type="text" th:field="*{rol}" /></p>
	
	<input type="submit" />
</form>
	</div>
</div>

	<div class="container"></div>
	
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
		<div class="container">
		<p>Copyright UNLa 2021</p>
		</div>
		
		<script type="text/javascript" th:src="@{vendor/bootstrap/jquery/jquery.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{vendor/bootstrap/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
	</footer>
	
</body>
</html>